<xml>
    <jdbc.url>jdbc:mysql://127.0.0.1:3306/demo?useSSL=true</jdbc.url>
    <jdbc.username>debian-sys-maint</jdbc.username>
    <jdbc.password>cDjhZo5Tdul66r8E</jdbc.password>
    <basePath>/home/hjx/work/cloud-demo/ribbon-service/src/main/java</basePath>
    <entityPackage>top.hejiaxuan.cloud.demo.service.entity</entityPackage>
</xml>