<xml>
    <jdbc.url>jdbc:mysql://127.0.0.1:3306/demo1?useSSL=true</jdbc.url>
    <jdbc.username>debian-sys-maint</jdbc.username>
    <jdbc.password>cDjhZo5Tdul66r8E</jdbc.password>
    <basePath>/home/hjx/work/myProjectPlus/JdbcPlus/src/test/java</basePath>
    <entityPackage>com.hebaibai.jdbcplus.entity</entityPackage>
</xml>