<xml>
    <jdbc.url>jdbc:mysql://127.0.0.1:3306/demo?useSSL=true</jdbc.url>
    <jdbc.username>debian-sys-maint</jdbc.username>
    <jdbc.password>cDjhZo5Tdul66r8E</jdbc.password>
    <basePath>/home/hjx/work/myProject/simpleDao/src/test/java</basePath>
    <entityPackage>com.github.hjx601496320.simpledao</entityPackage>
</xml>